{% extends 'base.html' %}
{% load static %}

{% block title %} {{ post.title_tag }} {% endblock%}

{% block content %}
<div class="card mb-3">
    <div class="mx-2">
        <h1 class="card-title">{{ post.title }}</h1>
        <small>
            <p class="card-text">
                <small class="text-muted">{{post.post_date}} by {{ post.author.first_name }}
                    {{post.author.last_name}}</small>
            </p>
        </small>

        <small>
            {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}">(Edit post)</a>
            -
            <a href="{% url 'delete_post' post.pk %}">(Delete post)</a>
            {% endif %}
            {% endif %}
        </small>
        <hr>
        <div class="card-body">
            {% if post.header_image %}
            <img src="{{ post.header_image.url }}" class="rounded card-img-top" alt="...">
            {% endif %}
            <div class=" card-text mt-2">
                {{ post.body|safe }}
            </div>

            {% if post.author.profile %}
            <h4>About the author...</h4>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3">
                        {% if post.author.profile.profile_pic %}

                        <img src="{{ post.author.profile.profile_pic.url }}" class="mx-5" width="200px"
                             height="200px"
                             alt="...">
                        {% else %}
                        <img src="{% static 'theblog/images/default_profile_pic.png'%}" class="img-thumbnail"
                             width="200px"
                             height="200px"
                             alt="...">
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ post.author.profile.user.first_name }}
                                {{post.author.profile.user.last_name}}</h5>
                            <p class="small text-muted">
                                <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>
                                {% if post.author.profile.website_url %}
                                | <a href="{{ post.author.profile.website_url }}" target="_blank">Website</a>
                                {% endif %}
                                {% if post.author.profile.facebook_url %}
                                | <a href="{{ post.author.profile.facebook_url }}" target="_blank">Facebook</a>
                                {% endif %}
                                {% if post.author.profile.twitter_url %}
                                | <a href="{{ post.author.profile.twitter_url }}" target="_blank">Twitter</a>
                                {% endif %}
                                {% if post.author.profile.instagram_url %}
                                | <a href="{{ post.author.profile.instagram_url }}" target="_blank">Instagram</a>
                                {% endif %}
                                {% if post.author.profile.pinterest_url %}
                                | <a href="{{ post.author.profile.pinterest_url }}" target="_blank">Pinterest</a>
                                {% endif %}
                            </p>
                            <p class="card-text">{{ post.author.profile.bio }}</p>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}

            <div class="m-2">
                {% if user.is_authenticated %}
                <form action="{% url 'like_post' post.pk %}" method="POST">
                    {% csrf_token%}

                    {% if liked %}
                    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-danger btn-sm">
                        Unlike
                    </button>
                    {% else %}
                    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-primary btn-sm">Like
                    </button>
                    {% endif %}
                    - {{ total_likes }} Likes
                </form>
                {% else %}
                <a href="{% url 'login' %}">Click here to login and like</a>
                - {{ total_likes }} Likes
                {% endif %}
            </div>
<hr>
            <div class="m-2">
                {% if not post.comments.all %}
                <h4>Be the first to comment...</h4>
                <a href="{% url 'add_comment' post.pk %}">Add comment</a>
                {% else %}

                <h4>Comments...</h4>
                {% for comment in post.comments.all %}
                <row>
                    <div class="m-2">
                        <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
                        <br>
                        {{ comment.body }}
                    </div>
                </row>
                {% endfor %}
                <a href="{% url 'add_comment' post.pk %}">Add comment</a>
                {% endif %}
            </div>
        </div>
    </div>


    <!--<hr>-->
    <!--<br/>-->
    <!--{% if post.header_image %}-->
    <!--<img src="{{ post.header_image.url }}" class="img-thumbnail" style="width: 100px">-->
    <!--{% endif %}-->

    <!--{{ post.body|safe }}-->
    <!--<br/>-->
    <!--<hr>-->


    {% endblock%}
